<!-- templates/fragments/navbar.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand d-flex align-items-center" th:href="@{/}">
                    <img th:src="@{/images/logo.png}" alt="MyApp Logo" width="60" height="60" class="me-2">
                    <span class="fw-bold">Flores Artic</span>
                </a>
                
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <!-- Opción Home -->
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/}" href="#">Inicio</a>
                        </li>

                        <!-- Opción About -->
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/acerca}" href="#">Acerca de </a>
                        </li>

                        <!-- Opción Flores con Submenú -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="floresDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Flores
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="floresDropdown">
                                <li><a class="dropdown-item" th:href="@{/flores/listar}" href="#">Listar</a></li>
                                <li><a class="dropdown-item" th:href="@{/flores/agregar}" href="#">Agregar</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</body>
</html>

